body{
    background-color: White;
    font-family: Arial;
}

#page{
    display: block;
    width:100%;
    height: 100%;
    /*padding-top: 50px;*/
    margin: 0;
    padding: 0;
}

content figure{
    float: left;
}

content {
    zoom: 1; /* "hasLayout", empêche le dépassement des flottants dans IE 6-7 */
    text-align: justify;
    padding:100px;
    display: block;
}

content:after {
    content: '';
    display: block;
    clear: both;
}
