
header{
    display: block;
    background: no-repeat url("../img/header-bg-2x.png");
    /*background-size: 100vw 300px; /* x 0.45 */
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    top:-50px;
    -webkit-perspective: 100px; /* Safari 4-8  */
    perspective: 100px;
    overflow:hidden;
    text-align: center;
    /*border:1px solid green;*/
}

#intro {
    display: block;
    position: relative;
    width: 30%;
    min-width: 300px;
    height: 400px;
    padding: 0px;
    margin: 100px auto 0 auto;
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */
    -webkit-transform: rotateX(0deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(0deg) scale(1);
    perspective-origin: center -400px;
    text-align: center;
    /*border: 1px solid green;*/
}

#intro h1{
    display: block;
    position:relative;
    top:50px;
    background: no-repeat url("../img/header-simple.png");
    background-size: 20vw calc(20vw * 0.45); /* x 0.45 */
    width:20vw;
    height:calc(20vw * 0.45);
    color: transparent;
    margin: auto;
}

#intro content {
    display: block;
    margin-top: 100px;
    color:Yellow;
    font-weight:bold;
    font-size:25px;
    text-align:justify;
}

.part{
    text-align: center;
    background-color: White;
}
#top-part, #bottom-part{
    width: 880px;
    margin: auto;
}

#top-part{
    overflow: hidden;
}

/* Create four equal columns that sits next to each other */
#top-part article {
    display: inline-block;
    float: left;
    width: 70%;
    padding: 0;
}
#top-part aside{
    display: inline-block;
    float: left;
    width: 20%;
    padding: 0;
    text-align: center;
    height: auto;
    z-index: 10;
    /* very important for calculus */
    position: relative;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    #top-part article {
        flex: 50%;
        max-width: 50%;
    }
    #top-part aside{
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    #top-part article {
        flex: 100%;
        max-width: 100%;
    }
    #top-part aside{
        flex: 100%;
        max-width: 100%;
    }
}
