
nav {
    display: block;
    width: 100%;
    padding: 0;
    position: fixed;
    top:0px;
    background-color: rgb(0%, 0%, 0%);
    background-color: rgba(0%, 0%, 0%, 0.8);
    height: 50px;
    z-index: 99;
}

nav ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav ul li{
    /* background-color: rgba(0%, 0%, 0%, 0.5);*/
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    list-style-type: none;
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
